/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2b69f7;
  height: 80px;
  margin: 0;
  padding: 0;
}

/* REUSEABLE CSS */

/* PRIMARY COLOUR - #2b69f7 */
/* SECONDARY COLOUR - #333 */
/* TERTIARY COLOUR - #1e4fe3 */

/* Navigation Bar */

.nav {
  position: absolute;
  font-family: "Arial", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.logo {
  width: 200px;
  height: 66px;
  padding-left: 10px;
  padding-top: 10px;
}

.logo:hover {
  transform: scale(1.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-weight: Bold;
  text-decoration: none;
  padding: 10px 15px;
  width: 100px;
  height: 33px;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover {
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.2);
}

/* main {
  padding: 10px;
}

.info {
  padding: 10px;
} */

/* Primary Button */

.primary-button {
  background-color: #2b69f7;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: Semi-Bold;
  border-radius: 8px;
  cursor: pointer;
}
.primary-button:hover {
  background-color: #333;
}

/* Secondary Button */

.secondary-button {
  background-color: transparent;
  border: 2px solid #2b69f7;
  color: #2b69f7;
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
.secondary-button:hover {
  background-color: #333;
  border: 2px solid #333;
  color: white;
}

/* Input Box */

.input-text {
  width: 100%;
  max-width: 400px;
  padding: 12px 12px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.input-text:focus {
  border-color: #2b69f7;
}

.input-text:focus::placeholder {
  color: transparent;
}

/* Dropdown */

.input-select {
  padding: 12px 12px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
}

.input-select:focus {
  border-color: #2b69f7;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 12px;
  line-height: 1.2;
}

h3,
h4,
h5,
h6 {
  color: #333;
}

h1 {
  font-size: 44px;
  color: #2b69f7;
}

h2 {
  font-size: 36px;
  color: #2b69f7;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/* Paragraph */

p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 20px;
}

/* Anchor */

a {
  color: #2b69f7;
  font-weight: Semi-Bold;
}

a:hover {
  color: #1e4fe3;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
